body { 
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 10px;
    padding: 10px;
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-container {
    display: flex;
    gap: 50px;
}

.size-container { 
    display: flex;
    gap: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, minmax(auto, 1fr));
    background-color: pink;
    padding: 10px;
    grid-auto-columns: 3px;
    width: 500px;
    height: 500px;
    
}

.grid-item { 
    display: flex;
    aspect-ratio: 1 / 1;
    background-color: lightblue;
    border: 1px solid white;
    text-align: center;
}

.black-bg { 
    background-color: black;
}

#title { 
    font-size: 30px;
    font-weight: bold;
}

#grid-input { 
    width: 200px;
}

#value { 
    font-weight: bold;
}